# Build artifacts
bin/
obj/
build/

# Editor swap files
*.swp
*.swo
*.swn
*~

# Test artifacts
*.actual

# OS files
.DS_Store
Thumbs.db
*:Zone.Identifier


tests/examples/hello
tests/examples/
tests/sema/*.exe
